<template>
    <div>
        <div v-if="currentLevel === 0">
            <h1>게임 중독 테스트</h1>
            <button @click="gameStart()">테스트 시작</button>
        </div>
        <div v-else-if="currentLevel === 1">
            <h2>{{ gameTestTitle }}</h2>
            <h3>Q1.{{ answerList[0].title }}</h3>
            <button
                v-for="(item, index) in answerList[0].answers"
                @click="nextLevel(index)">
                A{{ index + 1 }}.{{ item.answer }}
            </button>
        </div>
        <div v-else-if="currentLevel === 2">
            <h2>{{ gameTestTitle }}</h2>
            <h3>Q2.{{ answerList[1].title }}</h3>
            <button
                v-for="(item, index) in answerList[1].answers"
                @click="nextLevel(index)">
                A{{ index + 1 }}.{{ item.answer }}
            </button>
        </div>
        <div v-else-if="currentLevel === 3">
            <h2>{{ gameTestTitle }}</h2>
            <h3>Q3.{{ answerList[2].title }}</h3>
            <button
                v-for="(item, index) in answerList[2].answers"
                @click="nextLevel(index)">
                A{{ index + 1 }}.{{ item.answer }}
            </button>
        </div>
        <div v-else-if="currentLevel === 4">
            <h2>{{ gameTestTitle }}</h2>
            <h3>Q4.{{ answerList[3].title }}</h3>
            <button
                v-for="(item, index) in answerList[3].answers"
                @click="nextLevel(index)">
                A{{ index + 1 }}.{{ item.answer }}
            </button>
        </div>
        <div v-else-if="currentLevel === 5">
            <h2>{{ gameTestTitle }}</h2>
            <h3>Q5.{{ answerList[4].title }}</h3>
            <button
                v-for="(item, index) in answerList[4].answers"
                @click="nextLevel(index)">
                A{{ index + 1 }}.{{ item.answer }}
            </button>
        </div>
        <div v-else-if="currentLevel === 6">
            <h2>{{ gameTestTitle }} 결과</h2>
            <h3>{{ resultRankTitle }}</h3>
            <h4>점수 : {{ resultRankValue }}</h4>
            <div>{{ resultRankContents }}</div>
            <div><button @click="gameReset()">다시하기</button></div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            gameTestTitle: '게임 중독 테스트',
            currentLevel: 0,
            answer1Value: null,
            answer2Value: null,
            answer3Value: null,
            answer4Value: null,
            answer5Value: null,
            resultRankValue: 0,
            resultRankTitle: null,
            resultRankContents: null,
            resultList: [
                {
                    rankMinValue: 0,
                    rankMaxValue: 10,
                    rankName: '매우심각',
                    rankDescription: '전문가와 상담이 필요합니다'
                },
                {
                    rankMinValue: 11,
                    rankMaxValue: 20,
                    rankName: '심각',
                    rankDescription: '게임을 그만하세요'
                },
                {
                    rankMinValue: 21,
                    rankMaxValue: 30,
                    rankName: '주의',
                    rankDescription: '게임을 줄이기 위해 노력하세요'
                },
                {
                    rankMinValue: 31,
                    rankMaxValue: 40,
                    rankName: '양호',
                    rankDescription: '좋습니다'
                },
                {
                    rankMinValue: 41,
                    rankMaxValue: 50,
                    rankName: '매우좋음',
                    rankDescription: '아주 올바른 자세입니다'
                },
            ],
            answerList: [
                {
                    title: '일주일에 게임을 몇시간 합니까?',
                    answers: [
                        { answer: '게임 안함', rankValue: 10 },
                        { answer: '1~8시간', rankValue: 8 },
                        { answer: '9~12시간', rankValue: 5 },
                        { answer: '13~15시간', rankValue: 3 },
                        { answer: '16시간 이상', rankValue: 0 },
                    ]
                },
                {
                    title: '게임 할 때 화를 냅니까?',
                    answers: [
                        { answer: '게임 안함', rankValue: 10 },
                        { answer: '가끔', rankValue: 8 },
                        { answer: '보통', rankValue: 5 },
                        { answer: '자주', rankValue: 3 },
                        { answer: '게임 할 때 마다', rankValue: 0 },
                    ]
                },
                {
                    title: '게임때문에 밤을 샌 적이 있나?',
                    answers: [
                        { answer: '게임 안함', rankValue: 10 },
                        { answer: '가끔', rankValue: 8 },
                        { answer: '보통', rankValue: 5 },
                        { answer: '자주', rankValue: 3 },
                        { answer: '게임 할 때 마다', rankValue: 0 },
                    ]
                },
                {
                    title: '평상시 게임 생각을 합니까?',
                    answers: [
                        { answer: '게임 안함', rankValue: 10 },
                        { answer: '가끔', rankValue: 8 },
                        { answer: '보통', rankValue: 5 },
                        { answer: '자주', rankValue: 3 },
                        { answer: '매일', rankValue: 0 },
                    ]
                },
                {
                    title: '게임을 못하면 불안합니까?',
                    answers: [
                        { answer: '게임 안함', rankValue: 10 },
                        { answer: '가끔', rankValue: 8 },
                        { answer: '보통', rankValue: 5 },
                        { answer: '자주', rankValue: 3 },
                        { answer: '매일', rankValue: 0 },
                    ]
                },
            ]
        }
    },
    methods: {
        gameStart() {
            this.currentLevel = 1
        },
        nextLevel(selectedAnswerIndex) {
            if (this.currentLevel === 1) {
                this.answer1Value = selectedAnswerIndex
            } else if (this.currentLevel === 2) {
                this.answer2Value = selectedAnswerIndex
            } else if (this.currentLevel === 3) {
                this.answer3Value = selectedAnswerIndex
            } else if (this.currentLevel === 4) {
                this.answer4Value = selectedAnswerIndex
            } else if (this.currentLevel === 5) {
                this.answer5Value = selectedAnswerIndex
                this.calculateResult()
            }

            this.currentLevel = this.currentLevel + 1
        },
        calculateResult() {
            this.resultRankValue = this.answerList[0].answers[this.answer1Value].rankValue
            this.resultRankValue += this.answerList[1].answers[this.answer2Value].rankValue
            this.resultRankValue += this.answerList[2].answers[this.answer3Value].rankValue
            this.resultRankValue += this.answerList[3].answers[this.answer4Value].rankValue
            this.resultRankValue += this.answerList[4].answers[this.answer5Value].rankValue

            for (let i = 0; i < this.resultList.length; i++) {
                if (this.resultList[i].rankMinValue <= this.resultRankValue && this.resultList[i].rankMaxValue >= this.resultRankValue) {
                    this.resultRankTitle = this.resultList[i].rankName
                    this.resultRankContents = this.resultList[i].rankDescription
                }
            }
        },
        gameReset() {
            this.currentLevel = 0
            this.answer1Value = null
            this.answer2Value = null
            this.answer3Value = null
            this.answer4Value = null
            this.answer5Value = null
            this.resultRankValue = 0
            this.resultRankTitle = null
            this.resultRankContents = null
        }
    }
}
</script>
